body {
    background-color: rgba(52,53,65,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.chatGPTResponse {
    width: 100%;
}
.bottom {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    justify-content: space-between;
    width: 80%;
}
.footer {
    margin-top: 7rem;
}
.chatForm {
    width: 100%;
    display: flex;
    margin-top: auto;
    flex-grow: 1;
    border-radius: 5px;
    background-color: rgba(64,65,79,1);
    height: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.chatGPTQuestion {
    width: 95%;
    color: #d1d5db;

}
.sendButton {
    flex-grow: 1;
}

.queryContainer, .answerContainer{
    background: rgba(68,70,84,1);
    padding: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

.disclaimer {
    color: hsla(0,0%,100%,.5);
    padding-bottom: 1.5rem;
    padding-top: 0.75rem;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
}
.disclaimer a:visited {
    color: hsla(0,0%,100%,.5);
}

.queryContainer {
    background-color: rgba(52,53,65,1);
}
.query {
    display: block;
    color: #d1d5db;
    font: normal 300% Consolas, Monaco, monospace;
    font-size: smaller;
    margin: 1em;
}

.answer { 
    font: normal 300% Consolas, Monaco, monospace;
    font-size: smaller;
 border-right: 0.75em solid #d1d5db;
 margin: 1em;
 white-space: nowrap;
    overflow: hidden;
    color: #d1d5db;
}

.chatGPTQuestion {
    background: transparent;
    border: none;
}
.chatGPTQuestion:focus {
    outline: none;
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }


@keyframes load{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

.sendButton {
    rotate: 90deg;
    color: rgba(172,172,190,1);
    cursor: pointer;
}

#dots {
    display: none;
}
